ansible-compat==24.7.0
ansible-core==2.17.2
attrs==23.2.0
bracex==2.4
cffi==1.16.0
click==8.1.7
click-help-colors==0.9.4
cryptography==42.0.8
enrich==1.2.7
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
molecule==24.7.0
molecule-plugins==23.5.3
packaging==24.1
pluggy==1.5.0
pycparser==2.22
Pygments==2.18.0
PyYAML==6.0.1
referencing==0.35.1
resolvelib==1.0.1
rich==13.7.1
rpds-py==0.19.0
subprocess-tee==0.4.2
wcmatch==8.5.2
