---
extends: default

rules:
  line-length:
    max: 120
    level: warning
  truthy:
    allowed-values: ['true', 'false', 'yes', 'no']

ignore: |
  .github/
  inventory/sample/group_vars/rke2_servers.yml
  inventory/sample/group_vars/rke2_agents.yml
  inventory/test-inventory*
