---

- name: Get versions from update.rke2.io
  ansible.builtin.uri:
    url: https://update.rke2.io/v1-release/channels/{{ rke2_channel }}
    follow_redirects: safe
    remote_src: true
  register: rke2_version_url

- name: Set rke2_install_version fact from internet source
  ansible.builtin.set_fact:
    rke2_install_version: "{{ rke2_version_url.url | ansible.builtin.urlsplit('path') | ansible.builtin.basename }}"
  changed_when: false
