---

- name: Wait for k8s apiserver
  ansible.builtin.wait_for:
    host: localhost
    port: "6443"
    state: present
    timeout: "{{ check_node_ready_timeout }}"
  changed_when: false
  register: rke2_api_server_status
  ignore_errors: "{{ check_node_ready_ignore_errors }}"

- name: Set fact
  ansible.builtin.set_fact:
    rke2_api_server_running: true
  when:
    - rke2_api_server_status.state is not undefined
    - rke2_api_server_status.state == "present"

- name: Get node_metrics
  ansible.builtin.uri:
    url: https://localhost:10250/metrics
    return_content: true
    ca_path: /var/lib/rancher/rke2/server/tls/server-ca.crt
    client_cert: /var/lib/rancher/rke2/server/tls/client-admin.crt
    client_key: /var/lib/rancher/rke2/server/tls/client-admin.key
  register: rke2_node_metrics
  retries: "{{ check_node_ready_retries }}"
  delay: "{{ check_node_ready_delay }}"
  ignore_errors: "{{ check_node_ready_ignore_errors }}"

- name: Check that node_metrics collection was successful
  ansible.builtin.set_fact:
    rke2_metrics_running: true
  when:
    - (rke2_node_metrics.status | default('')) | string == "200"

- name: Extract the kubelet_node_name from node metrics
  ansible.builtin.set_fact:
    rke2_kubelet_node_name: "{{ rke2_node_metrics.content | regex_search('kubelet_node_name{node=\"(.*)\"}', '\\1') | default('', true) }}"
  when:
    - (rke2_node_metrics.status | default('')) | string == "200"

- name: Fail if kubelet node name could not be determined
  ansible.builtin.fail:
    msg: "Unable to determine kubelet node name from metrics."
  when:
    - not check_node_ready_ignore_errors
    - rke2_kubelet_node_name is not defined or rke2_kubelet_node_name | length == 0

- name: Wait for node to show Ready status
  ansible.builtin.command: >-
    /var/lib/rancher/rke2/bin/kubectl --kubeconfig /etc/rancher/rke2/rke2.yaml
    --server https://127.0.0.1:6443 get node "{{ rke2_kubelet_node_name }}"
    -o jsonpath='{.status.conditions[?(@.type=="Ready")].status}'
  register: rke2_status_result
  until: rke2_status_result.stdout.find("True") != -1
  retries: "{{ check_node_ready_retries }}"
  delay: "{{ check_node_ready_delay }}"
  changed_when: false
  ignore_errors: "{{ check_node_ready_ignore_errors }}"
  failed_when:
    - not check_node_ready_ignore_errors
    - (rke2_status_result.stdout | default('')) | string != "True"
  when:
    - rke2_kubelet_node_name is defined
    - rke2_kubelet_node_name | length > 0

- name: Set fact
  ansible.builtin.set_fact:
    rke2_node_ready: true
  when:
    - rke2_status_result is defined
    - rke2_status_result.stdout is defined
    - (rke2_status_result.stdout | string) == "True"

- name: Node status
  ansible.builtin.debug:
    msg: |
      "rke2_node_ready: {{ rke2_node_ready }}"
      "rke2_metrics_running: {{ rke2_metrics_running }}"
      "rke2_api_server_running: {{ rke2_api_server_running }}"
