---

- name: Generate config.yml on first server
  ansible.builtin.include_tasks: config.yml

- name: Wait for rke2
  ansible.builtin.include_tasks: wait_for_rke2.yml

- name: Add generated Token if none provided  ### <- what's the intent here?
  block:
    - name: Wait for node-token
      ansible.builtin.wait_for:
        path: /var/lib/rancher/rke2/server/node-token

    - name: Read node-token from master
      ansible.builtin.slurp:
        src: /var/lib/rancher/rke2/server/node-token
      register: node_token

    - name: Store Master node-token
      ansible.builtin.set_fact:
        rke2_config_token: "{{ node_token.content | b64decode | regex_replace('\n', '') }}"
