---

- name: Set fact if rke2-server was previously installed
  ansible.builtin.set_fact:
    rke2_installed: true
  when:
    - ansible_facts.services["rke2-server.service"] is defined
    - not ansible_facts.services["rke2-server.service"].status == 'disabled'
    - inventory_hostname in groups['rke2_servers']

- name: Set fact if rke2-server is running
  ansible.builtin.set_fact:
    rke2_running: true
  when:
    - ansible_facts.services["rke2-server.service"] is defined
    - ansible_facts.services["rke2-server.service"].state == 'running'
    - inventory_hostname in groups['rke2_servers']

- name: Set fact if rke2-agent was previously installed
  ansible.builtin.set_fact:
    rke2_installed: true
  when:
    - ansible_facts.services["rke2-agent.service"] is defined
    - not ansible_facts.services["rke2-agent.service"].status == 'disabled'
    - inventory_hostname in groups.get('rke2_agents', [])

- name: Set fact if rke2-agent is running
  ansible.builtin.set_fact:
    rke2_running: true
  when:
    - ansible_facts.services["rke2-agent.service"] is defined
    - ansible_facts.services["rke2-agent.service"].state == 'running'
    - inventory_hostname in groups.get('rke2_agents', [])

- name: Build list of rke2 binary paths
  ansible.builtin.set_fact:
    rke2_binary_paths:
      - "{{ rke2_tarball_install_dir }}/bin/rke2"
      - "/usr/local/bin/rke2"
      - "/opt/rke2/bin/rke2"
  when: rke2_install_method == "tarball"

- name: Check for the rke2 binary
  ansible.builtin.stat:
    path: "{{ item }}"
  loop: "{{ rke2_binary_paths | unique }}"
  register: rke2_binary_stats
  when: rke2_install_method == "tarball"

- name: Select rke2 binary path
  ansible.builtin.set_fact:
    rke2_binary_path: "{{ (rke2_binary_stats.results | selectattr('stat.exists', 'equalto', true) | map(attribute='item') | list | first) | default('') }}"
  when: rke2_install_method == "tarball"

- name: Get current rke2 version if already installed
  ansible.builtin.shell: set -o pipefail && {{ rke2_binary_path }} -v | awk '$1 ~ /rke2/ { print $3 }'
  register: rke2_installed_version_tmp
  changed_when: false
  args:
    executable: /usr/bin/bash
  when:
    - rke2_install_method == "tarball"
    - rke2_binary_path | length > 0
  failed_when: >
    (rke2_installed_version_tmp.rc != 141) and
    (rke2_installed_version_tmp.rc != 0)

- name: Set fact for current rke2 version
  ansible.builtin.set_fact:
    rke2_installed_version: "{{ rke2_installed_version_tmp.stdout }}"
  when:
    - rke2_install_method == "tarball"
    - rke2_binary_path | length > 0
