---

# Complies with V-254564/CNTR-R2-000520

# #1
- name: Find all files in /etc/rancher/rke2
  ansible.builtin.find:
    paths: /etc/rancher/rke2
    file_type: file
  register: found_files
  tags: ["stig"]

- name: Set permissions
  ansible.builtin.file:
    path: "{{ item.path }}"
    mode: '0600'
  loop: "{{ found_files.files }}"
  tags: ["stig"]

# #3
- name: Find .kubeconfig files
  ansible.builtin.find:
    paths: "{{ rke2_data_dir }}/agent"
    patterns: "{{ kubeconfig_files }}"
    file_type: file
  register: found_kubeconfig_files
  tags: ["stig"]

- name: Apply 0640 to existing .kubeconfig files
  ansible.builtin.file:
    path: "{{ item.path }}"
    owner: root
    group: root
    mode: '0640'
  loop: "{{ found_kubeconfig_files.files }}"
  tags: ["stig"]

- name: Find .cert files
  ansible.builtin.find:
    paths: "{{ rke2_data_dir }}/agent"
    patterns: "{{ cert_files }}"
    file_type: file
  register: found_cert_files
  tags: ["stig"]

- name: Apply 0600 to .cert files
  ansible.builtin.file:
    path: "{{ item.path }}"
    owner: root
    group: root
    mode: '0600'
  loop: "{{ found_cert_files.files }}"
  tags: ["stig"]

- name: Find .key files
  ansible.builtin.find:
    paths: "{{ rke2_data_dir }}/agent"
    patterns: "{{ key_files }}"
    file_type: file
  register: found_key_files
  tags: ["stig"]

- name: Apply 0600 to .key files
  ansible.builtin.file:
    path: "{{ item.path }}"
    owner: root
    group: root
    mode: '0600'
  loop: "{{ found_key_files.files }}"
  tags: ["stig"]

- name: Find agent subdirectories
  ansible.builtin.find:
    paths: "{{ rke2_data_dir }}/agent"
    patterns: "{{ agent_dirs }}"
    file_type: directory
  register: found_agent_dirs
  tags: ["stig"]

- name: Apply 0700 to agent subdirectories
  ansible.builtin.file:
    path: "{{ item.path }}"
    owner: root
    group: root
    mode: '0700'
    state: directory
  loop: "{{ found_agent_dirs.files }}"
  tags: ["stig"]

# #4
- name: "Find all existing files in "{ rke2_data_dir }}/bin"
  ansible.builtin.find:
    paths: "{{ rke2_data_dir }}/bin"
    file_type: file
  register: bin_files
  tags: ["stig"]

- name: Set permissions to 0750 on existing files
  ansible.builtin.file:
    path: "{{ item.path }}"
    mode: '0750'
  loop: "{{ bin_files.files }}"
  tags: ["stig"]

# #5
- name: Stat the data directory
  ansible.builtin.stat:
    path: "{{ rke2_data_dir }}/data"
  register: data_dir_stat
  tags: ["stig"]

- name: Fix permissions and ownership of data directory
  ansible.builtin.file:
    path: "{{ rke2_data_dir }}/data"
    state: directory
    owner: root
    group: root
    mode: '0750'
  when: data_dir_stat.stat.exists
  tags: ["stig"]

# #6 - Broken Check
# - name: Find all regular files in "{{ rke2_data_dir }}/data"
#   ansible.builtin.find:
#     paths: "{{ rke2_data_dir }}/data"
#     file_type: file
#     recurse: yes
#   register: data_files
# - name: Set ownership and permissions to 0640 on each file
#   ansible.builtin.file:
#     path: "{{ item.path }}"
#     owner: root
#     group: root
#     mode: '0640'
#   loop: "{{ data_files.files }}"


# #7
- name: Find existing 0700 server directories
  ansible.builtin.find:
    paths: "{{ rke2_data_dir }}/server"
    patterns: "{{ server_dirs_0700 }}"
    file_type: directory
  register: found_server_dirs_0700
  tags: ["stig"]

- name: Set permissions to 0700 on server dirs
  ansible.builtin.file:
    path: "{{ item.path }}"
    owner: root
    group: root
    mode: '0700'
    state: directory
  loop: "{{ found_server_dirs_0700.files }}"
  tags: ["stig"]

- name: Find existing 0750 server directories
  ansible.builtin.find:
    paths: "{{ rke2_data_dir }}/server"
    patterns: "{{ server_dirs_0750 }}"
    file_type: directory
  register: found_server_dirs_0750
  tags: ["stig"]

- name: Set permissions to 0750 on server dirs
  ansible.builtin.file:
    path: "{{ item.path }}"
    owner: root
    group: root
    mode: '0750'
    state: directory
  loop: "{{ found_server_dirs_0750.files }}"
  tags: ["stig"]

- name: Check if token file exists
  ansible.builtin.stat:
    path: "{{ rke2_data_dir }}/server/token"
  register: stat_token_file
  tags: ["stig"]

- name: Set 0600 on token file (if it exists)
  ansible.builtin.file:
    path: "{{ rke2_data_dir }}/server/token"
    owner: root
    group: root
    mode: '0600'
  when: stat_token_file.stat.exists
  tags: ["stig"]
