---

# Complies with V-254564/CNTR-R2-000520

# #1
- name: Find all files in /etc/rancher/rke2
  ansible.builtin.find:
    paths: /etc/rancher/rke2
    file_type: file
  register: found_files
- name: Set permissions
  file:
    path: "{{ item.path }}"
    mode: '0600'
  loop: "{{ found_files.files }}"

# #3
- name: Find .kubeconfig files
  ansible.builtin.find:
    paths: /var/lib/rancher/rke2/agent
    patterns: "{{ kubeconfig_files }}"
    file_type: file
  register: found_kubeconfig_files
- name: Apply 0640 to existing .kubeconfig files
  file:
    path: "{{ item.path }}"
    owner: root
    group: root
    mode: '0640'
  loop: "{{ found_kubeconfig_files.files }}"

- name: Find .cert files
  ansible.builtin.find:
    paths: /var/lib/rancher/rke2/agent
    patterns: "{{ cert_files }}"
    file_type: file
  register: found_cert_files
- name: Apply 0600 to .cert files
  file:
    path: "{{ item.path }}"
    owner: root
    group: root
    mode: '0600'
  loop: "{{ found_cert_files.files }}"

- name: Find .key files
  ansible.builtin.find:
    paths: /var/lib/rancher/rke2/agent
    patterns: "{{ key_files }}"
    file_type: file
  register: found_key_files
- name: Apply 0600 to .key files
  file:
    path: "{{ item.path }}"
    owner: root
    group: root
    mode: '0600'
  loop: "{{ found_key_files.files }}"

- name: Find agent subdirectories
  ansible.builtin.find:
    paths: /var/lib/rancher/rke2/agent
    patterns: "{{ agent_dirs }}"
    file_type: directory
  register: found_agent_dirs
- name: Apply 0700 to agent subdirectories
  file:
    path: "{{ item.path }}"
    owner: root
    group: root
    mode: '0700'
    state: directory
  loop: "{{ found_agent_dirs.files }}"

# #4
- name: Find all existing files in /var/lib/rancher/rke2/bin
  ansible.builtin.find:
    paths: /var/lib/rancher/rke2/bin
    file_type: file
  register: bin_files
- name: Set permissions to 0750 on existing files
  file:
    path: "{{ item.path }}"
    mode: '0750'
  loop: "{{ bin_files.files }}"

# #5
- name: Stat the data directory
  stat:
    path: /var/lib/rancher/rke2/data
  register: data_dir_stat
- name: Fix permissions and ownership of data directory
  file:
    path: /var/lib/rancher/rke2/data
    state: directory
    owner: root
    group: root
    mode: '0750'
  when: data_dir_stat.stat.exists

# #6 - Broken Check
# - name: Find all regular files in /var/lib/rancher/rke2/data
#   ansible.builtin.find:
#     paths: /var/lib/rancher/rke2/data
#     file_type: file
#     recurse: yes
#   register: data_files
# - name: Set ownership and permissions to 0640 on each file
#   file:
#     path: "{{ item.path }}"
#     owner: root
#     group: root
#     mode: '0640'
#   loop: "{{ data_files.files }}"


# #7
- name: Find existing 0700 server directories
  ansible.builtin.find:
    paths: /var/lib/rancher/rke2/server
    patterns: "{{ server_dirs_0700 }}"
    file_type: directory
  register: found_server_dirs_0700
- name: Set permissions to 0700 on server dirs
  file:
    path: "{{ item.path }}"
    owner: root
    group: root
    mode: '0700'
    state: directory
  loop: "{{ found_server_dirs_0700.files }}"

- name: Find existing 0750 server directories
  ansible.builtin.find:
    paths: /var/lib/rancher/rke2/server
    patterns: "{{ server_dirs_0750 }}"
    file_type: directory
  register: found_server_dirs_0750
- name: Set permissions to 0750 on server dirs
  file:
    path: "{{ item.path }}"
    owner: root
    group: root
    mode: '0750'
    state: directory
  loop: "{{ found_server_dirs_0750.files }}"

- name: Check if token file exists
  stat:
    path: /var/lib/rancher/rke2/server/token
  register: stat_token_file
- name: Set 0600 on token file (if it exists)
  file:
    path: /var/lib/rancher/rke2/server/token
    owner: root
    group: root
    mode: '0600'
  when: stat_token_file.stat.exists
