---

- name: "Add bin to PATH for {{ rke2_data_dir }}"
  ansible.builtin.lineinfile:
    dest: "/root/.bashrc"
    line: 'PATH=$PATH:{{ rke2_data_dir }}/bin'
    insertafter: EOF
    create: true
    mode: 0600
  tags: ["setup-root"]

- name: Symlink crictl config to /etc/crictl.yaml
  ansible.builtin.file:
    src: "{{ rke2_data_dir }}/agent/etc/crictl.yaml"
    dest: "/etc/crictl.yaml"
    state: link
  tags: ["setup-root"]

- name: Create .kube directory in /root
  ansible.builtin.file:
    path: /root/.kube
    state: directory
    mode: '0750'
  tags: ["setup-root"]

- name: Symlink kubectl config to /root/.kube/config
  ansible.builtin.file:
    src: "{{ rke2_data_dir }}/server/cred/admin.kubeconfig"
    dest: "/root/.kube/config"
    state: link
  tags: ["setup-root"]
