---

- name: Populate service facts
  ansible.builtin.service_facts:

- name: Gather the package facts
  ansible.builtin.package_facts:
    manager: auto

- include: images_tarball_install.yml

- name: "Check for binary tarball in {{ playbook_dir }}/tarball_install/rke2.linux-amd64.tar.gz"
  stat:
    path: "{{ playbook_dir }}/tarball_install/rke2.linux-amd64.tar.gz"
  register: rke2_binary_tarball_check
  delegate_to: 127.0.0.1
  become: no

- name: SLES/Ubuntu/Tarball Installation
  include: tarball_install.yml
  when:
    - ansible_facts['os_family'] != 'RedHat'
    - rke2_binary_tarball_check.stat.exists == true

- name: RHEL/CentOS Installation
  block:
    - name: Install redhat-lsb-core
      ansible.builtin.yum: name=redhat-lsb-core state=present
      when: "'redhat-lsb-core' not in ansible_facts.packages"
    - name: Reread ansible_lsb facts
      ansible.builtin.setup: filter=ansible_lsb*
      when: "'redhat-lsb-core' not in ansible_facts.packages"
    - include: rpm_install.yml
  when:
    - ansible_os_family == 'RedHat'
    - rke2_binary_tarball_check.stat.exists == false

# Disable Firewalld
# We recommend disabling firewalld. For Kubernetes 1.19+, firewalld must be turned off.
- name: disable FIREWALLD
  ansible.builtin.systemd:
    name: firewalld
    state: stopped
    enabled: no
  when: ansible_facts.services["firewalld.service"] is defined

- include: network_manager_fix.yaml

- include: config.yml

- name: Add server iptables rules
  include_tasks: iptables_rules.yml
  when:
    - ansible_facts.services["iptables.service"] is defined
    - add_iptables_rules is true

- include: add-audit-policy-config.yml
  when: audit_policy_config_file_path | length > 0

- include: add-registry-config.yml
  when: registry_config_file_path | length > 0

- name: Run CIS-Hardening Tasks
  include_role:
    name: rke2_common
    tasks_from: cis-hardening
